* {
    font-family: 'Red Hat Display', sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
    font-weight: bolder;
    color: aliceblue;
}

header a:hover {
    color: aliceblue;
}

/*Navigater Bar*/
nav {
    background-color: rgb(244, 244, 246);
    padding: 10px;
    margin-bottom: 0%;
    display: block;
    text-align: center;
    /* position: fixed; */
}

.navbar-nav me-auto mb-2 mb-lg-0 {
    justify-content: center;
    margin: auto;
    position: fixed;

}

nav a {
    font-weight: bold;
    color: black;
    margin: 60px;
    text-decoration: underline;
}

.dropdown-menu show {
    width: 200px;
}

.dropdown-item {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 175px;
    transition: all 0.3s;
}

.dropdown-item:hover {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.3s;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #9e3968;
    border-color: #9e3968;
}

.describe {
    padding: 100px;
    text-align: center;
    font-weight: bolder;
    color: aliceblue;
}

main {
    padding: 5%;
}


/*FOOTER*/
footer {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    flex-direction: column;
}

footer a {
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-top: 10px;
    transition: all 0.3s;
}

footer a:hover {
    color: rgb(255, 255, 255);
    font-size: large;
    transition: all 0.3s;
}

h4 {
    color: aliceblue;
}

h6 {
    color: rgb(129, 138, 146)
}

@media screen and (max-width: 768px){
    nav{
        flex-direction: row;
        justify-content: center;
       /* text-align: center;*/
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items:flex-start
    }
    .column{
        margin:2px;
        width :28%;
        flex-direction: row;
        
    }
    .dropdown-item {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px; margin-bottom: 20px;
        width: 90%;
        transition: all 0.3s;
    }
    .dropdown-menu li{
        text-align: center;
    }

}